body{
    /* background-color: rgb(182, 248, 249); */
 
    /* justify-content: center; */
    margin:0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: medium;
}
.profile img
{
    clip-path: circle();
    width: 25%;

}
  p
 {
    /* text-align: center; */
    margin: auto;
    width: 30%;

 }
    
    hr{
        border: dotted #6ec4c4 6PX;
        border-bottom: none;
        width: 4%;
        margin: 100px auto;
    }
.head3{
    margin-right: 20px;
}
    .head3 img{
     
        clip-path: circle();
        width: 25%;
     
        }
      .head4 img{
        float: right;
      }
        .skill-row img{
            margin-right: 20px;
            float: left;
            clip-path: circle();
            width: 25%;
         
            }
 h1{
  color: rgb(74, 159, 233);
    margin-top: 0;
font-weight: normal;
line-height: 2;
}
h2{
    color: rgb(74, 159, 233);
      margin-top: 0;
  font-weight: normal;

  }
  h3{
    color: rgb(55, 99, 137);
      margin-top: 0;
  font-weight: normal;
  line-height: 2;

  }
 
  .skill-row{
    /* margin: right 20px;  */
    width: 50%;
    margin: 58px auto 60px auto;
    line-height: 2;
    text-align: left;
  }
.upcont{
  background-color: rgb(176, 246, 250);
}
.topcloud{
    position: relative;
    left: 280px;
}
/* .middle-container{

  
}
.bottom-container{


  
} */
.bottomcloud{
    position: absolute;
}
.gitp{
    font-size: large;
    color: rgb(73, 181, 181);
}
.btn{
    background-color: cadetblue;
    border: 3px solid;
    border-radius: 12px;
    padding: 9px;
    line-height: 6;
    color: azure;
    text-decoration: none;
}
.btn:hover{
    color: darkorange;
}
.bottom-container{
    padding: 12px;
    margin-bottom: 0;
    line-height: 2;
    background-color: cadetblue;
}
.bottom-container a{
    color: bisque;
    text-decoration: none;
    padding: 20px;
}
.bottom-container p
{
color: beige;
}